@import "tailwindcss";

@theme {
  --color-grey-500: hsl(234, 12%, 34%);
  --color-grey-400: hsl(212, 6%, 44%);
  --color-white: hsl(0, 0%, 100%);

  --text-base: clamp(0.875rem, 2.5vw, 0.9375rem);
  --text-heading: clamp(1.8rem, 2.5vw, 2rem);

  --font-poppins: "Poppins", sans-serif;
  --shadow: 0 0.875rem 1.75rem -0.75rem hsla(212, 86%, 64%, 0.3);
  --animate-slide-in: slide-in 0.6s ease var(--delay) forwards;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@layer base {
  * {
    @apply m-0 p-0 scroll-smooth box-border font-poppins;
  }

  body {
    @apply relative min-h-screen px-8 py-20 text-base text-grey-500 bg-white;
  }

  main {
    @apply flex-center flex-col gap-16 max-w-[75rem] m-auto;
  }
}

@layer components {
  .header-section {
    @apply max-w-[32rem] flex flex-col text-center gap-5;
  }

  .title {
    @apply text-heading font-extralight leading-[1.5];
  }

  .title strong {
    @apply font-semibold text-nowrap;
  }

  .feature-section {
    @apply flex-center flex-col lg:flex-row gap-5;
  }

  .feature-card {
    @apply relative max-w-[22.5rem] border-0 flex flex-col p-8 rounded-lg overflow-hidden shadow-[var(--shadow)];
  }

  .feature-card h2 {
    @apply text-xl font-semibold;
  }

  .feature-card p {
    @apply text-grey-400 text-sm mt-1 mb-8;
  }

  .feature-card img {
    @apply self-end;
  }

  .border {
    @apply absolute border-none top-0 left-0 w-full h-1 bg-[var(--card-color)];
  }

  .helper-container {
    @apply flex-center flex-col gap-5;
  }

  .footer-section {
    @apply absolute bottom-0 w-4/5 lg:w-full h-12 lg:h-8 text-center;
  }

  .footer-section a {
    @apply underline text-blue-800;
  }
}

.feature-card {
  opacity: 0;
  animation: slide-in 0.6s ease var(--delay) forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
